@model Article
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    ViewData["Keywords"] = Model.Keywords;
    var commentSettings = new CommentSettings()
    {
        IsInArticle = true
    };
}
<section class="pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="markdown">
                    @(Westwind.AspNetCore.Markdown.Markdown.ParseHtmlString(Model.Content))
                </div>
            </div>
        </div>
    </div>
</section>
<partial name="_CommentPartial" model="@(commentSettings)" />