@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
@if (showBanner)
{
    <div id="cookieConsent" class="alert bg-white shadow position-fixed border-0 rounded-0 w-100 fixed-bottom mb-0 fade show" role="alert">
        <div class="container">
            <button type="button" class="accept-policy ml-lg-0 ml-2 btn btn-sm btn-outline-primary font-weight-normal float-right" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                I Accept
            </button>
            <div class="pt-1 text-ellipsis" data-toggle="tooltip" data-placement="top" title="🍪 Do you likes Cookies ? @(Configuration.GetValue<string>("BlogName")) need your consent to enable some features and improve your user experience.">🍪 Do you likes Cookies ? @(Configuration.GetValue<string>("BlogName")) need your consent to enable some features and improve your user experience.</div>
        </div>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                $("#cookieConsent").slideUp();
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}
