body {
  font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
}

.shadow-sm {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05) !important;
}

a {
  color: #003366;
}

#main-bar {
  padding: 12px 0 !important;
}

.float-right {
  float: right;
}

.inherit {
  color: inherit;
  text-decoration: inherit;
}

.inherit:hover {
  color: inherit;
}

.gravatar {
  border-radius: 50%;
  cursor: pointer;
}

.form-group.required label:after {
  content: "*";
  margin-left: 5px;
  color: red;
}

.btn-primary {
  background-color: #33cabb;
  border-color: #33cabb;
  color: #fff;
}

.btn-primary:hover {
  background-color: #52d3c7;
  border-color: #52d3c7;
  color: #fff;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #33cabb;
  border-color: #33cabb;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 1rem !important;
  }
  .navbar-toggler
  {
  }
}