@{
    ViewData["Title"] = "About Librum";
}
<div class="text-center py-5 mt-2">
    <h1 class="display-5 mt-3">About Librum</h1>
    <p>Librum is a simple and lightweight Micro-Blog.</p>
</div>
<section class="pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
<markdown>
### About Librum

bla bla
</markdown>
            </div>
        </div>
    </div>
</section>