<div class="text-center py-5 mt-2">
    <h1 class="display-5 mt-3">Librum Settings</h1>
    <p>Watch the Librum Configuration File.</p>
</div>
<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <pre class="bg-light p-2">@(System.IO.File.ReadAllText("librum.json"))</pre>
            </div>
        </div>
    </div>
</section>